

.callout.primary {
  background-color: #fff;
  background-image: url("../img/collage_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* height: 800px; */
  color: #0a0a0a;
}



.jumbotron {
  background-image: url("../img/collage_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
}

.twentytwenty-container {
  max-width: 800px;
  margin: 0 auto;
}
