
.jumbotron {
  background-image: url("../img/collage_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
}

.twentytwenty-container {
  max-width: 800px;
  height: 200;
  margin: 0 auto;
}
