
#intro h1, #intro h2 {
  background-color: rgba(223, 150, 207, 0.3);
  display: inline-block;

}

#intro p {
  font-size: 1.2em;
  background-color: rgba(223, 150, 207, 0.3);

  font-weight:300;
  text-align:left;
  margin: 0 auto 20px auto;
}

.custom-margin {
  margin-top: 50px;
}

.callout.primary {
  background-color: #feefff;
  /* background-image: url("../img/header-purple.jpg"); */
  background-image: url("../img/header-purple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* height: 800px; */
  color: #0a0a0a;

}

.callout h1 {

  color: #000;
  font-family: 'Fredericka the Great', cursive;
  font-size: 80px;
}

.callout h2 {
  color: #000;

}

.landscape {
  max-width: 600px;
  margin: 0 auto;
}

.portrait {
  max-width: 398px;
  margin: 0 auto;
}

.jumbotron {
  background-image: url("../img/collage_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
}

.row {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

/*
.twentytwenty-container {
  max-width: 800px;
  margin: 0 auto;
}
*/
